.page-project-new{P.headtext{position: absolute;
width: 985px;
height: 67px;
left: calc(50% - 985px/2 - 167.5px);
top: 80px;
font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 140%;
letter-spacing: -0.02em;
color: #333333;}

#content{position: absolute;
width: 538px;
height: 261px;
left: calc(50% - 538px/2 - 391px);
top: 187px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 180%;
/* or 29px */

display: flex;
align-items: center;
letter-spacing: -0.02em;

/* Gray 2 */

color: #4F4F4F;
}

#right {
  position: absolute;
  top: 140px;
  right: 150px;
  width: 700px;
  height: 400px;
}

input{
font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 108%;
/* or 19px */
display: flex;
align-items: flex-end;
letter-spacing: -0.02em;

/* Gray 3 */
color: #828282;	
}

input[type=textarea] {
position: absolute;
width: 650px;
height: 200px;
left: 0px;
top: 70px;
background: #F2F2F2;
border-radius: 8px;
padding: 0;
padding: 10px 20px;
}

input[type=email] {
position: absolute;
width: 316px;
height: 60px;
left: 0px;
top: 0px;
/* Gray 6 */
background: #F2F2F2;
border-radius: 8px;
padding: 0px 20px;
}

input[type=url] {
position: absolute;
width: 304px;
height: 60px;
left: 346px;
top: 0px;
background: #F2F2F2;
border-radius: 8px;
padding: 0px 20px;
}

.btn1{position: absolute;
width: 316px;
height: 60px;
left: 0px;
top: 320px;
background: #00D681;
border-radius: 8px;
text-align: center;


font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 108%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
letter-spacing: -0.02em;
/* Green Dark */
color: #003D3D;
}

textarea{position: absolute;
width: 650px;
height: 200px;
left: 0px;
top: 70px;
background: #F2F2F2;
border-radius: 8px;
padding: 10px 20px;
resize: none;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 108%;
/* or 19px */
display: flex;
align-items: flex-end;
letter-spacing: -0.02em;

/* Gray 3 */
color: #828282;	
}

:focus::-webkit-input-placeholder {
  color: transparent
}
 
:focus::-moz-placeholder {
  color: transparent
}
 
:focus:-moz-placeholder {
  color: transparent
}
 
:focus:-ms-input-placeholder {
  color: transparent
}}
 