<% var data = {
  title: "GrandCore | Главная",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<p class="headtext">Предложить проект</p>


<div id="content">
Происхождение Александра Сергеевича Пушкина идёт от разветвлённого нетитулованного дворянского рода Пушкиных, восходившего по генеалогической легенде к «мужу честну» Ратше[5][~ 3]. Пушкин неоднократно писал о своей родословной в стихах и прозе; он видел в своих предках образец истинной «аристократии», древнего рода, честно служившего отечеству, но не снискавшего благосклонности правителей и «гонимого». Не раз он обращался (в том числе в художественной форме) и к образу своего прадеда по матери — африканца Абрама Петровича Ганнибала

</div>

<div id="right">
<form method="post" action="">
<table>
<tr>
<td><input type="email" name="email" placeholder="Email"></td>
<td><input type="url" name="telelink" placeholder="Telegram link"></td>
</tr>
<td><textarea input id="decision" placeholder="Ваше предложение"></textarea></td>
<tr>
<td><input class="btn1" type="submit" value="Сохранить"</td>
</tr>
</table>
</form>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>