// Основные цвета проекта
$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #BDBDBD;
$gray5: #E0E0E0;
$gray6: #F2F2F2;

$white: white;
$white-bg: #FAFAFA;

$green: #00D681;
$green-dark: #003D3D;

$orange: #FFB21C;
$blue: #2F80ED;

// Конфигурации
$nav-height: 80px; // Высота шапки
$nav-height-mb: 54px; // Высота шапки на малых экранах
$nav-left-fs: 18px; // Размер шрифта левой части навигации
$nav-right-fs: 16px; // Размер шрифта правой части навигации

$about-aside-width: 420px; // Ширина сайдбара на странице "О фонде"

// Font Weight
$nav-left-fw: 600;
$nav-right-fw: normal;

$border-rad: 6px;
